$accentColor = #3e454f
$textColor = #333
$borderColor = #eaecef
$codeBgColor = #282c34

header.navbar,
header.navbar .links
    background-color: #e00797

.navbar .site-name, .nav-links .nav-item, 
.nav-links a:hover, .nav-links a.router-link-active
.nav-item, .nav-links a:hover, .nav-links a.router-link-active,
a.repo-link
  color: black